@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar,
::-webkit-scrollbar-track {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 10px;
}

.op {
    primary: #8C0327;
    secondary: #D85251;
    accent: #D59B6A;
    neutral: #826A5C;
    base-100: #f1f1f1;
    info: #42ADBB;
    success: #499380;
    warning: #E97F14;
    error: #DF1A2F;
}